---
---

.grid-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .grid-item {
        flex: 0 0 auto;
        width: 25%;
        min-width: 200px;

        padding: 1em;

        text-align: center;
        text-decoration: none;
        color: var(--text);

        img {
            width: 50%;
        }
        .grid-title {
            font-size: 2em;
            //color: var(--text);
        }
        .grid-desc {
            //color: var(--text);
        }

        &:hover, &:focus {
            background-color: var(--text);
            color: var(--bg);
            transition: background-color 150ms, color 150ms;
        }
        transition: background-color 150ms, color 150ms;
    }
}
