@font-face {
    font-family: 'landing-glyphs';
    src: url('./font/landing-glyphs.eot?58496549');
    src: url('./font/landing-glyphs.eot?58496549#iefix') format('embedded-opentype'),
         url('./font/landing-glyphs.woff?58496549') format('woff'),
         url('./font/landing-glyphs.ttf?58496549') format('truetype'),
         url('./font/landing-glyphs.svg?58496549#landing-glyphs') format('svg');
    font-weight: normal;
    font-style: normal;
}
.font-icon
{
    font-family: "landing-glyphs";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.discord-icon
{
    //For Chrome
    padding: 0.75em;
    content: url('./font/discord-icon.svg');
}
.discord-icon :after
{
    //For Firefox
    padding: 0.75em;
    content: url('./font/discord-icon.svg');
}
