---
---

* {
    box-sizing: border-box;
    overflow-wrap: anywhere;
}

//TODO SCSS variables
$bg-color: #414548;

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
:root {
    --bg: #414548; /*#52516B*/
    --text: white;
    --nav-bg: #eee;
    --nav-hover-bg: rgb(228, 228, 228);
    --nav-text: #3a3a3a;
    --nav-active-text: white;
    --nav-item-width: 33.33%;
    --featured-grid-item-width: 25%;
    --services-switch-grid-item-width: 33.33%;
    --services-wiiu-grid-item-width: 20%;
}
@media only screen and (max-width: 410px){
    .landing-title{
        font-size: 11vw !important;
    }
    .pageslider-nav a .font-icon{
        display: none;
    }
}

html, body
{
    margin: 0;
    padding: 0;
    //margin-bottom:30px;
}
html {
  height: 100%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    background: var(--bg);
    color: var(--text);
    min-height: 100%;
    position: relative;
}

/* This is used to make the icons square */
$primary-nav-height: 5em;
#primary-nav {
    width: 100%;
    height: $primary-nav-height;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    a {
        display: block;
        &.section-link {
            flex-grow: 1;

            /* NOTE: only change font-size here, in case $primary-nav-height is
               ems! Don't want to stuff up the &.icon square bit. */
            color: var(--nav-text);
            text-decoration: none;
            font-size: 1.5em;

            /* Vertical centering. Feels a bit weird to use flex for this...
               but at least this doesn't need another <span> */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* Make icons square */
        &.icon {
            width: $primary-nav-height;
        }

        background: var(--nav-bg);
        &:hover, &:active, &:focus {
            background: var(--nav-hover-bg);
        }
        &.active{
            background: var(--bg);
            color: var(--nav-active-text);
            &:hover, &:active, &:focus {}
        }
    }
}
.pageslider-container{
    height: 100%;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.pageslider-content{
    float: left;
    height: 100%;
    width: 100%;
    margin-top: 1.5em;
}

.landing-title{
    font-size:3em;
    text-align: center;
}
.landing-slogan{
    text-align: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3em;
}
.section-container{
    border-top: 0.05em solid white;
}
hr{
    border-style: solid;
    border-width: 0.25em;
    width: 5em;
    margin-top:-2em;
    margin-bottom:-0.5em;
    background-color: white;
}
.section-title{
    background-color: white;
    display: inline-block;
    margin-top: -0.05em;
    color: var(--bg);
    padding-left: 1em;
    padding-right: 1em;
}

.footer {
    background: darken($bg-color, 5%);
    width: 100%;
    margin-top: 1em;
    padding: 0.5em;
}

.readmore {
    font-size: 1em;
    text-align: right;
    a {
        color: var(--text);
    }
}
