<!DOCTYPE html>
<html lang="en">

<head>
    <title>fortheusers.org</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Title -->
    <title>For The Users</title>
    <!-- Placeholder meta -->
    <meta name="description" content="ForTheUsers is a group dedicated to helping the homebrew community by providing various services and contributions.">
    <link rel="stylesheet" href="/css/landing.css?v=6">
    <link rel="stylesheet" href="/css/icons.css?v=3">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="icon" href="/favicon.ico">
    {% if page.url contains "/blog/" %}
    <link rel="stylesheet" href="/css/blog.css">
    {% endif %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="/js/pageslider.js?v=2"></script>-->
</head>
