<!DOCTYPE html>
<html lang="en">

<head>
    <title>fortheusers.org</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Title -->
    <title>For The Users</title>
    <!-- Placeholder meta -->
    <meta name="description" content="ForTheUsers is a group dedicated to helping the homebrew community by providing various services and contributions.">
    <link rel="stylesheet" href="{{'/css/landing.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/css/icons.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/css/grid.css' | relative_url}}">
    <link rel="icon" href="{{'/favicon.ico' | relative_url}}">
    {% if page.url contains "/blog/" %}
    <link rel="stylesheet" href="{{'/css/blog.css' | relative_url}}">
    {% endif %}
    <script data-ad-client="ca-pub-7705804774052969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="/js/pageslider.js?v=2"></script>-->
</head>
