<nav>
    <div class="pageslider-nav">
        <a href="{{'/' | relative_url}}" {% if page.url == "/" %} class="active" {% endif %}>Home</a>
        <a href="{{'/services' | relative_url}}" {% if page.url == "/services/" %} class="active" {% endif %}>Services</a>
        <!-- TODO: "contains" sucks -->
        <a href="{{'/blog' | relative_url}}" {% if page.url contains "/blog" %} class="active" {% endif %}>Blog</a>
        <a class="nav-popout nav-share-to-icon" href="https://github.com/fortheusers/" target="_blank">GitHub
        <a class="nav-popout nav-share-to-icon" href="https://discord.gg/F2PKpEj" target="_blank">Discord
            <i class="font-icon">&#xf14c;</i>
        </a>
        <a class="nav-share-from-item discord-icon" href="https://discordapp.com/invite/F2PKpEj" target="_blank" class="discord-icon"></a>
    </div>
</nav>
