{% include head.html %}

<body>
    {% include nav.html %}
    <div class="pageslider-container">
        <h1 class="landing-title">{{page.title}}</h1>
        <hr>
        <p class="landing-slogan">{{page.desc}}</p>
        <div class="blog-body">
            {{content}}
            <div class="blog-authors">
                {% for author in page.authors %}
                {% assign author_data = site.author_data | where:"author_id",author | first %}
                    <div class="blog-author">
                        <img class="icon" src="{{author_data.icon}}" alt="@{{author_data.user}}'s avatar"></img>
                        <div class="info">
                            <span class="name">{{author_data.name}}</span>
                            <a href="{{author_data.user_url}}" class="username">@{{author_data.user}}</a>
                            <div class="bio">{{author_data.content | markdownify}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

{% include tail.html %}
